body{
    background-image: url('amog.jfif');
}



.scores {
    background-color: limegreen;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    /* life: none */
}

.scores {
    background-color: limegreen;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* life: some */
}
